svg {
	background-color: ghostwhite;
}

path {
	stroke: black;
	stroke-width: 1;
	fill: none;
}

.axis {
	font-size: 5pt;
	color: gray;
	fill: gray;
}

.axis path {
	stroke: gray;
	stroke-width: .7;
}

.x.axis .tick text{
	display: none;
}