body {
	background-color: rgba(0,0,0,.8);
	color: white;
}

.chart-label {
	display: inline-block;
	vertical-align: top;
	width: 150px;	
	margin: 0px;
	padding: 0px;
	padding-top: 15px;
}

.chart-container {
	display: inline-block;
	background-color: ghostwhite;
}




.period-end {
	fill: lightgray;
	width: 5px;
}

.mid-quarter {
	width: .5;
	fill: lightgray;
}



.play rect {
	fill: none;
	width: 3px;
	stroke: none;
}

rect.rebound {
	fill: dodgerblue;
	stroke: none;

}

rect.foul {
	fill: none;
	stroke: none;
}

rect.turnover {
	fill: red;
	stroke: none;
}

rect.made-fg,
rect.made-ft {
	fill: green;
	stroke: none;
}

rect.missed-fg,
rect.missed-ft {
	fill: none;
	/*stroke: green;*/
}

rect.assist {
	fill: orange;
	stroke: none;
}

rect.steal {
	fill: none;
	stroke: none;
}

rect.block {
	fill: none;
	stroke: none;
}
