body {
	background-color: rgba(0,0,0,.8);
	color: white;
}

.chart-label {
	display: inline-block;
	vertical-align: top;
	width: 150px;	
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
}

.chart-container {
	display: inline-block;
	background-color: ghostwhite;
}




.period-end {
	fill: lightgray;
	width: 5px;
}

.mid-quarter {
	width: .5;
	fill: lightgray;
}



.play rect {
	fill: none;
	width: 3px;
	stroke: none;
}

rect.rebound {
	fill: dodgerblue;
	stroke: none;
	color: ghostwhite;

}

rect.foul {
	fill: gray;
	stroke: none;
}

rect.turnover {
	fill: red;
	stroke: none;
}

rect.made-fg,
rect.made-ft,
rect.made-3pt {
	fill: green;
	stroke: green;
	color: green;
}

rect.missed-fg,
rect.missed-ft,
rect.missed-3pt {
	fill: ghostwhite;
	stroke: green;
	color: ghostwhite;
}

rect.assist {
	fill: orange;
	stroke: none;
}

rect.steal {
	fill: purple;
	stroke: none;
}

rect.block {
	fill: brown;
	stroke: none;
}

rect.positive {
	/*fill: green;*/
	/*stroke: none;*/
}

rect.negative {
	/*fill: red;*/
	/*stroke: none;*/
}
