#stat-control {
	width: 100%;
	text-align: center;
}

.stat {
	display: inline-block;
	margin: 5px;
	/*height: 25px;*/
	padding: 3px;
	width:	100px;
	background-color: lightgray;
	font-size: 8pt;
	font-family: Helvetica;
	text-align: center;
	border: solid 3px;
	font-weight: bold;
}

.stat:hover {
	cursor: pointer;
}

.stat-made {
	background-color: green;
	border-color: green;
}

.stat-missed {
	background-color: ghostwhite;
	border-color: green;
	color: black;

}

.stat-assist {
	background-color: orange;	
	border-color: orange;
}

.stat-rebound {
	background-color: dodgerblue;
	border-color: dodgerblue;
}

.stat-block {
	background-color: brown;
	border-color: brown;
}

.stat-steal {
	background-color: purple;
	border-color: purple;
}

.stat-turnover {
	background-color: red;
	border-color: red;
}

.stat-foul {
	background-color: black;
	border-color: black;
}

.stat-hidden {
	background-color: ghostwhite;
	color: lightgray;
	border-color: ghostwhite;
}


rect.stat-hidden {
	fill: none;
	stroke: none;
}