.sticky-footer-container {
    position: fixed;
    width: 100%;
    background-color: blue;
    bottom: 0px;
    height: 40px;
    z-index: 10;
    background: rgba(0,0,0,.8);
    margin: 0 auto;
}


.sticky-footer > div {
    display: inline-block;
}

