


.time-axis-container {
	margin-left: 300px;
	/*background-color: ghostwhite;*/
}

.time-axis-container > div {
    margin: 0px;
    padding: 0px;
    height: 60px;
}

svg.timeline-chart {
    border-bottom: solid thin gray;
    background: rgba(10,10,10,.2);
    margin-top: 10px;
}

svg.timeline-chart text.period-label {
	fill: lightgray !important;
	text-anchor: middle;
    font-size: 8pt;
    font-weight: 300;
}

svg.timeline-chart text.period-label:hover {
	cursor: pointer;
}

.minute {
	width: 2px;
	fill: gray;
}

.minute:hover {
	cursor: pointer;
}

g.filter-moment:hover rect,
g.filter-moment:hover circle{
	/*background-color: yellow;*/
	fill: yellow;
}


