.main-container {
    margin: 0 auto;
    /* text-align: center; */
    width: 1475px;
    padding: 20px;
    font-family: Helvetica;
}

.stat-control {
    width: 100%;
    text-align: center;
    display: inline-block;
    /* padding-left: 43px; */
    text-align: right;
    padding: 5px 0px;
    margin: 5px 0px 0px 0px;
    /*background-color: rgba(10,10,10,.2);*/
}

.stat {
    display: inline-block;
    margin: 5px;
    /* height: 25px; */
    /* padding: 3px; */
    /* width: 100px; */
    /* background-color: lightgray; */
    font-size: 8pt;
    font-family: Helvetica;
    text-align: center;
    /* border: solid 1px; */
    border-radius: 2px;
    /* font-weight: bold; */
    min-width: 50px;
}

.stat:hover {
	cursor: pointer;
}

.stat .rect {
    width: 10px;
    height: 12px;
    display: inline-block;
    margin-right: 20px;
    /* z-index: 10; */
    border: solid 1px;
}

.stat .cord {
    width: 25px;
    height: 1px;
    display: inline-block;
    position: relative;
    left: 18px;
    top: -6px;
    /* z-index: 9; */
}

.stat .stat-label {
	font-size: 9px;
}

.stat-made {
	background-color: green;
	border-color: green !important;
}

.stat-missed {
	background-color: ghostwhite;
	border-color: green !important;
	color: black;
}

.cord.stat-missed {
	background-color: green !important;
}

.stat-assist {
	background-color: orange;	
	border-color: orange !important;
}

.stat-rebound {
	background-color: dodgerblue;
	border-color: dodgerblue !important;
}

.stat-block {
	background-color: brown;
	border-color: brown !important;
}

.stat-steal {
	background-color: purple;
	border-color: purple !important;
}

.stat-turnover {
	background-color: red;
	border-color: red !important;
}

.stat-foul {
	background-color: lightsteelblue;
	border-color: lightsteelblue !important;
}

.stat-hidden {
	/*background-color: ghostwhite;
	color: lightgray;
	border-color: ghostwhite !important;*/
	opacity: .4;
	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
}


rect.stat-hidden {
	fill: none;
	stroke: none;
}

.player-container {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	font-family: Helvetica;
}

.cord-chart-container {
	margin: 0;
}

.cord-chart-container.top {
	margin-top: 3px;
}

.cord-chart-container.bottom {
	margin-bottom: 3px;
}

.cord-event text {
	font-size: 8pt;
	font-family: Helvetica;
}

.event-missed text {
	fill: green;
}

.event-made text {
	fill: ghostwhite;
}



.stat-string {
	stroke-width: .5;
}

.stat-string.made,
.stat-string.missed {
	stroke: green;
}

.stat-string.assist {
	stroke: orange;
}

.stat-string.rebound {
	stroke: dodgerblue;
}

.stat-string.foul {
	stroke: gray;
}

.stat-string.steal {
	stroke: purple;
}

.stat-string.turnover {
	stroke: red;
}

.stat-string.block {
	stroke: brown;
}


.game-scoring-margin {
	margin-top: 5px;
}